<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyFastFood.Properties.Settings.QuanlyFastFoodConnectionString"
            connectionString="Data Source=LAPTOP-LVK8KR92\SQLEXPRESS01;Initial Catalog=quanannhanh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>